.ctn{
    background-image: linear-gradient(to bottom,#544D87 50%,#2A1B3D);
    color: white;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#userHistoryNav {
    position: fixed;
    top: 0px;
    width: inherit;
}

.box {
    background-color: rgba(97, 64, 147, 0.5);
    transform: translateY(-10%);
    width: 60%;
    display: flex;
    align-items: center;
    border: 5px solid black;
    text-align: center;
}

.card {
    box-shadow: white 1px 1px 3px;
    width: calc(inherit - 5%);
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1rem;
    min-width: 50%;
    max-width: 50%;
}

.card-price{
    display: flex;
    flex-direction: column;
}

.horline {
    width: 50%;
    opacity: 0.5;
    box-shadow: 1px 1px 5px whitesmoke;
}
