.Button{
    display: inline-flex;
    transition: transform 0.3s ;
    align-items: center;
    justify-content: center;
}

.Button span{
    vertical-align: middle;
}

.Button:hover{    
    cursor: pointer;
    transform: scale(1.1);
}

.Button.medium{
    max-width: 5rem;
    max-height: 2rem;
    font-size: 1rem;
    padding: 0.5rem 1.3rem;
    border-radius: 0.5rem;
}

.Button.small{
    max-width: 3rem;
    min-height: 1rem;
    font-size: 0.5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.2rem;
}

.bgPinkTextWhite{
    background-color: #D83787;
    color: #FFF;
    box-shadow: 1px 1px rgba(216, 55, 151, 0.8)
}

.bgWhiteTextBlack{
    background-color: rgb(177, 175, 175);
    color: rgb(29, 29, 29);
    
}