footer{
    background-color: #1e1e1e;
    color: #62a3d2;
    margin: 0;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
}

footer div{
    margin:5px 0;
}

.social-icons img{
    width: 30px;
}

.footer-links a{
    text-decoration: underline;
    color: inherit;
    margin: 0 5px;
}